.footer{
    height: var(--altezza-footer); /*calcolo il padding dalla altezza del footer */
    padding: 20px;
    background-color: var(--warning);
    width: 100%;


    /* white-space: pre; non usare */
}
.footer a{
    color: var(--warning);
    
}

.centraintestazione{
    display: flex;
    justify-content: center;
    align-items: center;

}

.posizione-2{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    
}

.mailstyle{
    color:var(--warning); ;

}