<div class="backgroundheader row no-gutters">
    <div class="col-2">
        LOGO
    </div>
    <div class= "col-10 distanziaecentralizza">
        <div class="" routerLink="/"> <!-- nome del componente HOME -->
           <b> HOME </b>
        </div>
        
        <div class="" routerLink="/olimpiadiestive"> 
            <b> OLIMPIADI INVERNALI </b>
        </div>

        <div class="" routerLink="/olimpiadiinvernali"> 
            <b> OLIMPIADI ESTIVE </b> 
        </div>
    </div>
</div>