<div class="backgroundheader row no-gutters">
    <div class="col-2 dimensioneimmagine" > <!--logo immagine-->
        <img src="https://st.depositphotos.com/1272497/2450/v/600/depositphotos_24506367-stock-illustration-sporcu-ve-dnya.jpg">
       <h1 class="titlename"> <b>Easy4Sports</b></h1>
    </div>
    <div class= "col-10 centrainlinea">
        
        <div [routerLink]="'/chisiamo'"> <!-- nome del componente HOME -->
            <button type="button" class=" btn btn-outline-dark p-4" [routerLink]="'/chisiamo'"> <b>Chi Siamo?</b> </button>
        </div>
        
        <div class="" routerLink="/classifiche">
            
             <button type="button" class= "btn btn-outline-warning p-4" [routerLink]="'/classifiche'"><b>Classifiche</b></button>
              <!--se tolgo app-classifica mi compaiono le gare invernali ed estive come prima--> 
              <!--<app-classifica (cambioSport)="getDati()"></app-classifica> <b>Classifiche</b> </button> -->
             <!--<button type="button" class=" btn btn-outline-warning p-4" >  <b>Classifiche</b> </button> -->
        </div>
        <!-- <div class="" routerLink="/gareestive"> 
            <button type="button" class=" btn btn-outline-danger p-4" [routerLink]="'/gare'"> <b>Gare</b> </button>
            
        </div> -->
        <div class="" routerLink="/contatti"> 
            <button type="button" class=" btn btn-outline-primary p-4" [routerLink]="'/contatti'"> <b>Contatti</b> </button>
        </div>

        
    </div>
</div>