.distanziaecentralizza{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    height: var(--altezza-footer);

}

.backgroundheader{
    background-color: var(--success);
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
}

.dimensioneimmagine img
{
width: 135px;
}

.button{
    margin: 100px;
    padding: 50px;
}