<div>

<h1 class="col-10 titolopagina"> <b>
   Easy4Sports
</b>
</h1>

<h2 class= "col-6 styleintro">
    Benvenuti al sito di classifiche e statistiche Sportive
</h2>

<h3 class="col-8 txtdescrizione">
    Il nostro sito si occupa di fornire una classifica aggiornata della NBA. I dati che utilizziamo provengono da fonti reali e sono aggiornati costantemente tramite un'API. Il nostro obiettivo è quello di semplificare l'aggiornamento delle classifiche delle squadre in modo da fornire ai nostri utenti le informazioni più recenti e precise. Inoltre, stiamo cercando nuovi dipendenti per aiutarci a migliorare il nostro servizio. La nostra compagnia è stata fondata all'inizio di Maggio e siamo molto entusiasti di poter offrire questo servizio ai nostri utenti.
</h3>
</div>


