<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

 
  <ng-container matColumnDef="TOP">
    <th mat-header-cell *matHeaderCellDef> TOP </th>
    <td mat-cell *matCellDef="let element"> {{element.popularityRank}} </td>
  </ng-container>

   
   <ng-container matColumnDef="ATLETI">
    <th mat-header-cell *matHeaderCellDef> ATLETI </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.nameForURL}}
      <span>{{Servizioatleti.getGiocatori(element.name)}}</span></td>
    
  </ng-container>

  
  <ng-container matColumnDef="NAZIONE">
    <th mat-header-cell *matHeaderCellDef> NAZIONE </th>
    <td mat-cell *matCellDef="let element"> {{element.countries}} {{element.nameForURL}}
      <span>{{Serviziocontries.getcountrie(element.countryId)}}</span>
    </td>
    
    
  </ng-container>

 
  <ng-container matColumnDef="SPORTNAME">
    <th mat-header-cell *matHeaderCellDef> SPORT </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}
      <span class="stilesporttxt">{{ServizioclassificheService.getSportdifferenti(element.name)}}</span>
    </td>
  </ng-container>

  
  <ng-container matColumnDef="SQUADRE">
    <th mat-header-cell *matHeaderCellDef> SQUADRE </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}
      <!--<span>{{classifica.getlistasquadre(element.name)}}</span>-->
    </td>
  </ng-container>

  <ng-container matColumnDef="VITTORIE">
    <th mat-header-cell *matHeaderCellDef> TORNEI SVOLTI </th>
    <td mat-cell *matCellDef="let element"> {{element.totalGames}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
</table>