<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

 
  <ng-container matColumnDef="TOP">
    <th mat-header-cell *matHeaderCellDef> TOP </th>
    <td mat-cell *matCellDef="let element"> {{element.popularityRank}} </td>
  </ng-container>

   
   <ng-container matColumnDef="ATLETI">
    <th mat-header-cell *matHeaderCellDef> ATLETI </th>
    <td mat-cell *matCellDef="let element">
      <!-- <span class="stileatltxt">{{Servizioatleti.getGiocatori(element.imageVersion)}}</span>
      <span class="stileatltxt">{{Servizioatleti.getGiocatori(element.athletes)}}</span> -->
      <div class="d-inline ml-3">
        <button class="btn btn-warning" (click)="apriModal(element.id)">
          Guarda la squadra
          <i class="bi bi-people-fill"></i>
        </button>
    </div>
      </td>
      
  </ng-container>

  
  <ng-container matColumnDef="NAZIONE">
    <th mat-header-cell *matHeaderCellDef> NAZIONE </th>
    <td mat-cell *matCellDef="let element">
      <span class="stilenatttxt">{{Serviziocontries.getcountrie(element.countryId)}}</span>
    </td>
    
    
  </ng-container>

 
  <ng-container matColumnDef="SPORTNAME">
    <th mat-header-cell *matHeaderCellDef> SPORT </th>
    <td mat-cell *matCellDef="let element"> 
      <span class="stilesporttxt">{{Serviziotipidisport.getsports(element.sportId)}}</span>
    </td>
  </ng-container>

  
  <ng-container matColumnDef="SQUADRE">
    <th mat-header-cell *matHeaderCellDef> SQUADRE </th>
    <td mat-cell *matCellDef="let element">
      <span class="stilesquadetxt">{{element.name}}</span>
      <!--<span>{{classifica.getlistasquadre(element.name)}}</span>-->
    </td>
  </ng-container>


  <ng-container matColumnDef="VITTORIE">
    <th mat-header-cell *matHeaderCellDef> Gare </th>
    <td mat-cell *matCellDef="let element"> <h3 [routerLink]="'/gare/'+ element.id"> visualizza la gara </h3> </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
</table>