<html>
    <header>
        <br>
        <div class="col-8 stileimmagine" > 
            <img  src="https://images.pexels.com/photos/3760371/pexels-photo-3760371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
        <br>
        <div class=" col-14 Centratesto">
            
        <!-- <title>--><h1 class="col-10 textchisiamo"><b>Chi Siamo?</b></h1><!--</title> -->
        <br>
        <h2 class="col-12">Benvenuti nel nostro sito dedicato alle statistiche sportive!
                <br>
            Siamo una società specializzata in analisi statistiche riguardanti gli sport internazionali. La nostra missione è quella di raccogliere tutte le informazioni sulle gare, le classifiche e i trofei ottenuti dalle squadre in ogni competizione e di renderle facilmente accessibili a tutti gli appassionati dello sport. </h2>
    </div>
   
    <br>
    <br>
    <div class="col-5 stileimmagine" > 
        <img src="https://images.pexels.com/photos/3860934/pexels-photo-3860934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </div>
    <br>
    <br>
    <div class=" col-14 Centratesto2">

        <h1 class="col-10 textchisiamo"><b>il Team</b></h1>
        <br>
        <h2 class="col-12 ">Il nostro team di esperti in statistica raccoglie costantemente i dati più aggiornati sui vari sport, dalle partite di calcio ai tornei di tennis, passando per le gare di Formula 1 e le competizioni di atletica leggera. Analizziamo questi dati per fornire una visione completa dell'andamento delle classifiche e delle prestazioni delle squadre e degli atleti coinvolti.</h2>
    </div>
    
    <br>
    <br>
    <div class="col-5 stileimmagine" > 
        <img src="https://images.pexels.com/photos/6483626/pexels-photo-6483626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </div>
    <br>
    <br>
    <div class=" col-14 Centratesto3">
        <h1 class="col-10 textchisiamo"><b>Analisi</b></h1>
        <br>
        <h2 class="col-12">Il nostro sito è uno strumento fondamentale per gli amanti dello sport e per tutti coloro che vogliono seguire da vicino il mondo delle competizioni internazionali. Grazie ai nostri grafici, alle nostre tabelle e alle nostre analisi dettagliate, potrete scoprire le ultime novità e gli aggiornamenti sulle gare e sulle squadre di maggior interesse. </h2>
    </div>
    
    <br>
    <br>
    <div class="col-5 stileimmagine" > 
        <img src= "https://images.pexels.com/photos/3766218/pexels-photo-3766218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </div>
    <br>
    <br>
    <div class="col-14 Centratesto4">
    <h1 class="col-10 textchisiamo"><b>Info</b></h1>
    <br>
        <h2 class="col-12">Inoltre, il nostro sito è estremamente facile da usare e offre una navigazione intuitiva, garantendo un'esperienza utente piacevole e soddisfacente. Non esitate dunque a visitare il nostro sito e ad esplorare la vasta gamma di informazioni e statistiche a vostra disposizione. Siamo sicuri che troverete tutto ciò che cercate per essere sempre informati sul mondo dello sport internazionale.</h2>
    <br>
    </div>
    <br>
    </header>
</html>

