html, body { background-color: var(--info);
    color:var(--secondary) }
body { 
padding-bottom: calc(var(--altezza-footer) + 30px);
margin: 0; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }




:root{
    --primary:#3956e6;
    --secondary:#ec3232;
    --warning:#ffcd03;
    --success:#459d68;
    --info:#a8cadc;
    --dark:rgb(0, 0, 0);
    --altezza-footer:50px;
    --primary-hover:#461a74;
}
