html, body { background-color: var(--info);
    color:var(--secondary);
height: 100%; }
body { 
padding-bottom: calc(var(--altezza-footer) + 30px);
margin: 0; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }




:root{
    --primary:#3956e6;
    --secondary:#ec3232;
    --warning:#fef3c9;
    --success:#e0ffc4;
    --info:#fff4f4;
    --dark:rgb(129, 129, 129);
    --altezza-footer:90px;
    --primary-hover:#ebd8ff;
    --secondary-hover:#741a4d;
    --warning-hover:#ba7910;
    --success-hover:#019144;
    --info-hover: #637f8e;
    --dark-hover: rgb(0, 0, 0);
}

.centrainlinea {
    display: flex;
    justify-content: space-around;
    font-size: 35px !important;
    height: var(--altezza-footer);

}

.centrainlinea button{
    font-size: 30px;
} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
